# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Django migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# Database files
*.sqlite3

# Docker files
Dockerfile

# Git files
.git/
.gitignore

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
